# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# testing
/coverage
logs
# production
#/build

# generated
packages/database/src/generated/

# misc
.env

.vscode
.me
.env.uat
.env.beta
yarn.lock
.scripts
